/* Job Roles List */
.job-card {
    text-align: left;
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 5px solid #004a99;
    border-radius: 4px;
}

.job-card h3 { color: #004a99; }
.job-tag {
    display: inline-block;
    background: #eef2f7;
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-top: 10px;
    border-radius: 20px;
}